<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CHS.SIMSExchange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CHS.SIMSExchange.Properties.Settings>
            <setting name="SIMSUser" serializeAs="String">
                <value>nick</value>
            </setting>
            <setting name="SIMSPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="EXIMPUser" serializeAs="String">
                <value>eximp@crickhs.onmicrosoft.com</value>
            </setting>
            <setting name="Silent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExchangeUri" serializeAs="String">
                <value />
            </setting>
            <setting name="EXIMPPassword" serializeAs="String">
                <value>Exchange1</value>
            </setting>
            <setting name="AutoSIMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwoWeekTimetable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rooms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Staff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoverUNC" serializeAs="String">
                <value>\\cri-svr-004\wwwroot\Cover</value>
            </setting>
            <setting name="LessonTimes" serializeAs="String">
                <value>:Reg=8.40-9.05:1=9.05-10.05:2=10.05-11.05:3=11.30-12.30:4=12.30-13.30:5=14.30-15.30</value>
            </setting>
            <setting name="Cover" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalCoverDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
        </CHS.SIMSExchange.Properties.Settings>
    </applicationSettings>
</configuration>